.wc-welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    .start-over-container{
        margin-top: 10px;
        font-weight: bold;
        cursor: pointer;
        border-color: gray;
    }
    
}
